/*Smartphones*/

@media (max-width: 768px) {

  body,
  html,
  main,
  header,
  nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  main {
    padding-top: 40px;
  }

  /*Topo + Logo*/

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: center;
  }

  .sobrenome {
    color: #00e6b8;
  }

  /* Menú */

  nav {
    width: 100%;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* Espaçamento entre os <li> */
    list-style: none;
    text-align: center;
    border: 0;
  }

  nav li {
    background-color: #000;
  }

  nav a {
    color: #f6f6f6;
    text-decoration: none;
    padding: 2rem;
    transition: all 0.3s ease;
  }

  nav a:hover {
    color: #111;
    text-shadow: 0 0 0.5rem #00e6b8;
  }

  /* Section Hero */

  .hero {
    padding: 4rem 2rem;
    color: #f6f6f6;
    text-align: center;
  }

  /* Foto do perfil */

  .foto-perfil {
    width: 150px;
    flex-shrink: 0;
    /* Impede encolhimento da imagem */
    margin: 0 auto;
  }

  .foto-perfil img {
    width: 100%;
    border-radius: 50%;
    background-color: #f6f6f6;
    border: 0.5rem solid #f6f6f6;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 191, 166, 0.5);
  }

  /* Texto Hero*/

  .subtitulo {
    color: #ccc;
    font-style: italic;
    margin-bottom: 1rem;
  }

  .texto-hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #f6f6f6;
    padding-left: 20px;
    border: 0;
  }

  .texto-hero {
    color: #f6f6f6;
  }

}