/* Container principal */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

/* TOPO: Logo */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Orbitron', sans-serif;
  color: #f6f6f6;
}

.logo a {
  color: #f6f6f6;
  text-decoration: none;
}

.inicial {
  color: #00bfa6;
}

/* Menú */

nav {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  border-right: 0.5rem solid #00bfa6;
}

nav ul li {
  background-color: #000;

}

nav a {
  display: block;
  padding: 1rem 2rem;
  color: #f6f6f6;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #00bfa6;
  color: #111;
  text-shadow: 0 0 0.5rem #00e6b8;
}

/* Section Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*Quebra a imagem e texto para mobile*/
  gap: 2rem;
  padding: 4rem 1rem;
}

/* Foto do perfil */

.foto-perfil {
  width: 150px;
  flex-shrink: 0;
  /*Impede encolhimento da imagem*/
}

.foto-perfil img {
  width: 100%;
  border-radius: 50%;
  background-color: #f6f6f6;
  border: 4px solid #f6f6f6;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 191, 166, 0.5);
}

/* Texto Hero*/

.texto-hero {
  flex: 1;
  min-width: 250px;
}

.texto-hero h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #f6f6f6;
  border-left: 0.5rem solid #00bfa6;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.subtitulo {
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 2rem;
}

.texto-hero {
  color: #f6f6f6;
}

/* Section Skills */

.skills {
  padding: 4rem 2rem;
  background-color: #1e1e1e;
}

.skills h2 {
  font-family: 'Orbitron', sans-serif;
  color: #f6f6f6;
  font-size: 2rem;
  color: #f6f6f6;
  margin-bottom: 2rem;

}