/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Corrigido: sem aspas! */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111;
}

/* Container principal */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* TOPO: Logo + Menú */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  gap: 1rem;
  margin-bottom: 40px;
}


.logo {
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
}

.nome {
  color: #00bfa6;
}

.sobrenome {
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  border-right: 4px solid #00bfa6;
}
nav ul li{
 background-color: #000;
 
}

nav a {
  display: block;
  padding: 10px 20px;
 color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #00bfa6;
  color: #111;
  text-shadow: 0 0 5px #00e6b8;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Quebra a imagem e texto para mobile */
  gap: 2rem;
  padding: 4rem 1rem;
}

/* Foto */
.foto-perfil {
  width: 150px;
  flex-shrink: 0; /* Impede encolhimento da imagem */
}

.foto-perfil img {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #fff;
  box-shadow: 0 4px 15px rgba(0, 191, 166, 0.5);
}

/* Texto */
.texto-hero {
  flex: 1;
  min-width: 250px;
}

.texto-hero h1 {
  font-size: 2.5rem;
  color: #fff;
  border-left: 4px solid #00bfa6;
  padding-left: 20px;
  margin-bottom: 10px;
}

.subtitulo{
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  font-style: italic;
  margin-bottom:10px;
}
.texto-hero{
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
}